[Service]
WorkingDirectory=/
ExecStart=/usr/bin/fish /usr/share/user_utils/launch_evremap.fish
ExecStartPost=-/usr/bin/sudo -u branch fish /home/branch/scripts/update_bongocat_devices.fish
Restart=always

[Install]
WantedBy=multi-user.target
